body {
    background-image: url("kan.jpg");
    background-size: cover;
    background-color: #cccccc;
}
.butt1 {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    background-color: #808080;
}
.butt2 {
    width: 400px;
    margin: 0 auto;
    margin-top: 300px;
}